body{
    background-image: url("/assets/wall-bricks-220182.jpg");
}

a{
    color:rgb(192, 184, 110)
}

a:hover{
    color:rgb(248, 241, 182)
}

#footer{
    position: fixed;
    bottom:0;
    height:50px;
    width:100%;
    background-color: rgb(95, 121, 143);
    padding:10px;
    border-top: 5px solid rgb(93, 155, 209)
}
.jumbotron{
    padding: 5%;
    background-color:rgb(83, 90, 97);
    color: rgb(248, 241, 236);
}

.display-6 {
    text-align:center;
    margin-bottom: 25px;
}

#profilePic{
    height:175px;
    width:255px;
    float: left;
    margin: 15px;
}

.project {
    background-color:grey;
    width: 200px;
    height: 245px;
    padding:10px;
}

.card-img-top{
    height: 100px;
}

.card-link{
    margin-top: 10px;
    margin-left:0rem;
}
#projbr{
    line-height: 1px;
}

#contactEmail{
    text-align: center;
    font-size: 25px;
}

#emailAddress {
    font-weight: 500;
    font-size: 27px;
}

#linkContainer{
    text-align: center
}

.btn-md {
    font-size: 20px;
    padding: 20px;
}
